body {
	background: #2f3e46;
	
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
/*padding: 20px;*/
}

.wrapper {
	max-width: 800px;
	margin: 20px;
	width: 100%;
}

.container {
	background:  #f8f8ff;
	border-radius: 10px;
	padding: 20px;
}

.container, .navbar {
	padding: 20px;
}

.navbar {
	align-items: center;
	background-color: #008080;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: space-between;	
}

.navbar a {
	color: white;
	text-decoration: none;
}