body {
	background: #2f3e46;
	display: flex;
	justify-content: center;
}

.wrapper {
	max-width: 800px;
	margin: 20px;
	width: 100%;
}

.container {
	background:  #f8f8ff;
	border-radius: 10px;
	padding: 20px;
}